name: Build ESP32-S3 Blink

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          architecture: "x64"

      - name: Install PlatformIO
        run: python3 -m pip install platformio==6.1.18

      - name: Build firmwares
        run: FIRMWARE_VERSION=main platformio run

      - name: Archive firmware
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: .pio/build/**/*.bin
          retention-days: 1
